# Core functionality - changes here should be rare!
/src/app.py                   @DevOpsDevDB
/src/backend/database.py      @DevOpsDevDB
/src/backend/routers/auth.py  @DevOpsDevDB

# The frontend will need refactored soon to be more object oriented.
/src/static/   @DevOpsDevDB
